<% include ../partials/header %>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <h3 class="lead">Yelp Camp</h3>
            <div class="list-group">
                <div class="list-group-item active">
                    Option 1 
                </div>
                <div class="list-group-item">
                    Option 2 
                </div>
                <div class="list-group-item">
                    Option 3
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>">
                <div class="caption-full"></div>
                <h4><%= campground.name %></h4>
                <h5><%= campground.description %></h5>               
               
            </div>
            <div class="well">
                <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success text-right">
                    Add a new Comment</a>
                    <hr>
                <% campground.comments.forEach(function(comment){ %>
            
                <div class="row">
                    <div class="col-12">
                        <p>
                            <strong>
                                <%= comment.author %>
                            </strong>
                            --- <%= comment.text %>
                        </p>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
   
</div>





<% include ../partials/footer %>
